body{
  font-family: Arial, Helvetica, sans-serif;
}
.row{
  justify-content: center;
}
.current-box{
  border: 2px solid darkblue;
}
header{
  background-color: rgb(75,105,177);
  background-image: linear-gradient(90deg, rgba(75,105,177,1) 13%, rgba(35,77,167,1) 42%, rgba(1,1,105,1) 80%);
  
}
h1{
  font-weight: bold;
}

.btn{
  margin-top: 5px;
}
.day{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 40px;
  padding:15px;
  border: 2px solid black;
  background-color: rgb(72, 72, 223);
  color:aliceblue
}
.current-box, .five-day-container{
  display: none;
}
img.image{
  width: 10%!important;
}
